{% extends "base.html" %}
{% load static %}
{% load svg %}
{%  block content %}

    {%  include "loggedinHeader.html" %}
    <main>
    <div class="row px-5 text-left mt-4 planTitle">
        <h1 class="col-12 mb-2">Google's Environmental Action Plan</h1>
        <h5 class="col-12">As viewed on 20-01-2010 by John Doe</h5>
    </div>
    <div class="d-flex row flex-wrap justify-content-center px-5">
        {% for action in listOfActions %}
            <div class="card col-4">
                <div class="card-body">
                    <h5 class="card-title">{{ action.Title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">{{ action.Type }}</h6>
                    <p class="card-text">{{ action.Text }}</p>
                    <a href="{{ action.Source }}" class="card-link">Read More</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        {% endfor %}
    </div>
    </main>
    <footer></footer>
    <script>
        {#This is just to override the normal header styling for the home page so that sign up button is disabled and background changes to white instead of creating a whole new template for that very minor change in styling#}
        $(".navbar").css('background','white');
    </script>
{% endblock %}