{% extends "dashboard_base.html" %}
{% load static %}
{% load svg %}
{%  block content %}
{% include "loggedinHeader.html" %}

<div class="row d-flex justify-content-center my-5">
    <div class="col-8">
        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
            <label class="btn btn-light active">
                <input type="radio" name="options" id="option1" autocomplete="off" checked> Carbon
            </label>
            <label class="btn btn-light">
                <input type="radio" name="options" id="option2" autocomplete="off"> Water
            </label>
            <label class="btn btn-light">
                <input type="radio" name="options" id="option3" autocomplete="off"> Waste
            </label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex text-center justify-content-center mb-3 ">
        <div>
            <h3>Carbon Intensity for different industries from 2000 until 2018 across the UK</h3>
            {% load_chart charttype_carbon chartdata_carbon chartcontainer_carbon extra %}
            {% include_container chartcontainer_carbon 500 1200 %}
        </div>
    </div>
    <div class="col-12 d-flex text-center justify-content-center mb-3 ">
        <div>
            <h3>Waste Consumption for different industries from 2014 until 2017 across the UK</h3>
            {% load_chart charttype_waste chartdata_waste chartcontainer_waste extra %}
            {% include_container chartcontainer_waste 500 1200 %}
        </div>
    </div>

    <div class="col-12 d-flex text-center justify-content-center mb-3 ">
        <div>
            <h3>Water Consumption for different industries from in 2012 across the UK</h3>
            {% load_chart charttype_water chartdata_water chartcontainer_water extra %}
            {% include_container chartcontainer_water 900 900  %}
        </div>

    </div>
</div>

<script>
    {#This is just to override the normal header styling for the home page so that sign up button is disabled and background changes to white instead of creating a whole new template for that very minor change in styling#}
        $(".navbar").css('background','white');
        $("body").css('color','black');
        $("#option1").click(function () {
            window.location.href = '/carbon_dashboard';
        });
        $("#option2").click(function () {
            window.location.href = '/water_dashboard';
        });
        $("#option3").click(function () {
            window.location.href = '/waste_dashboard';
        });
        {#$('.linechart_container').css('width', '100%');#}
</script>
{% endblock %}