{% extends "base.html" %}
{% load static %}
{% load svg %}
{%  block content %}

    {% if user.is_authenticated %}
        {% include "loggedinHeader.html" %}

        {% else %}
        {% include "loggedoutHeader.html" %}
    {% endif %}


<main>
    <div class="jumbotron text-center jumbotron1">
        <div class="jumbotron-text w-75">
            <h1 class="display-3">Environmental Analysis & Management</h1>
            <h4 class="text-dark mt-3">Helping businesses step up their environmental strategies through customised Carbon, Waste & Water dashboards.</h4>
        </div>
    </div>

    <ul class="homeIcons">
        <li class="flex-item">{% svg "carbonHome" %}</li>
        <li class="flex-item">{% svg "wasteHome" %}</li>
        <li class="flex-item">{% svg "waterHome" %}</li>
    </ul>

    {% if user.is_authenticated %}
        <div class="d-flex justify-content-center"><button type="button" class="btn" id="viewDashboardBtn">VIEW DASHBOARD</button></div>

        {% else %}
        <div class="d-flex justify-content-center"><button type="button" class="btn  startTrackingBtn">START TRACKING</button></div>
    {% endif %}


    <!-- basic modal -->
    <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header text-center">
                    <h5 class="modal-title  w-100" id="myModalLabel">Login into your Nile Account</h5>
                    <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if form.errors %}
                    <p>WRONG</p>
                    {% endif %}
                {% if next %}
                    <p>You can't access that page</p>
                {% endif %}
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <div class="input-group">
                                {{ login_form.username }}
{#                                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="" aria-describedby="inputGroupPrepend2">#}
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent" id="inputGroupPrepend2"><i class="material-icons">account_circle</i></span>
                                </div>
                            </div>
                            <small id="emailHelp" class="form-text text-muted">Company name or registered email</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Password</label>
                             <div class="input-group">
                                 {{ login_form.password }}
{#                                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="" aria-describedby="inputGroupPrepend2" required>#}
                                <div class="input-group-append">
                                    <span class="input-group-text bg-transparent" id="inputGroupPrepend2"><i class="material-icons">remove_red_eye</i></span>
                                </div>
                            </div>
{#                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
                        </div>

                </div>
                {#        for the footer I have overriden the default BS4 display for it which is flex to have my line of h6 before the buttons line#}
                <div class="modal-footer justify-content-start d-block">
                    <div class="d-flex justify-content-start"><h6>Don't have an account?<a href="/registration"> Sign up today.</a></h6></div>
                    <div class="d-flex justify-content-end">
                        <button type="button" id="forgotPasswordModal" class="btn btn-block text-nowrap" data-dismiss="modal">FORGOT PASSWORD</button>
                        <button type="submit" id="signInModal" class="btn ml-2">SIGN IN</button>
                    </div>
                </div>
            </form>
            </div>
        </div>
    </div>

{#End of Modal#}
</main>
<footer>

</footer>

{#JQUERY & JS for this pages#}
<script>
    $('#signupBtn').click(function () {
        window.location.href = '/registration';
    });
    $('#viewDashboardBtn').click(function () {
        window.location.href = '/dashboard';
    });
    $('.startTrackingBtn').click(function () {
        window.location.href = '/registration';
    });
    $(':input').addClass('form-control');
    $('.closeModal').removeClass('form-control');

</script>
{%  endblock %}

