{% extends "base.html" %}
{% load static %}
{% load svg %}
{%  block content %}

    {%  include "loggedoutHeader.html" %}

    <main>
    {% if registered %}
        <h1>Thank you for registering!</h1>
      {% else %}
        <div class="jumbotron text-left jumbotron2 row">
            <div class="col-md-1 col-lg-2"></div>
            <div class="jumbotron-text col-md-10 col-lg-4 mt-4">
                <h1 class="display-4 ml-5">Register your business today, our team will be in touch within 5 working days</h1>
            </div>
            <div class="col-md-1 col-lg-6"></div>
        </div>
        <div class="row regmsg mt-4 pt-5">
            <div class="col-md-1 col-lg-2"></div>
            <div class="col-md-7 col-lg-3 mt-4 ml-5">
                <h4>Managing your business’s environmental footprint & cost is one step closer. Nile allows you to view your monthly Carbon footprint, waste and water consumption and generates  a bespoke environmental action plan for your team to match your environmental strategy.</h4>
            </div>
            <div class="col-md-2 col-lg-1">{% svg "notebook" %}</div>
            <div class="col-md-2 col-lg-4"></div>
        </div>

        {#    This is the main registration form#}
        <form id="registrationFormMain"  method="post">
            {% csrf_token %}


            <div class="form-row row1 px-3">
                <div class="form-group col-md-6">
                    <label for="fullname">Username</label>
                    {{ user_form.username }}
                    {#                    <input type="text" class="form-control" id="fullname" placeholder="">#}
                </div>
                <div class="form-group col-md-6">
                    <label for="companyname">Company Name</label>
                    {{ profile_form.company_name }}
                    {#                    <input type="text" class="form-control" id="companyname" placeholder="">#}
                </div>
            </div>
            <div class="form-row row2 px-3">
                <div class="form-group col-md-6">
                    <label for="comadd">Company Address</label>
                    {{ profile_form.company_address }}
                    {#                    <input type="text" class="form-control" id="comadd" placeholder="">#}
                </div>
                <div class="form-group col-md-6">
                    <label for="comnum">Contact No.</label>
                    {{ profile_form.contact_no }}
                    {#                    <input type="text" class="form-control" id="comnum" placeholder="">#}
                </div>
            </div>
            <div class="form-row row3 px-3">
                <div class="form-group col-md-6">
                    <label for="email1">Email</label>
                    {{  user_form.email }}
                    {#                    <input type="email" class="form-control" id="email1" placeholder="">#}
                </div>
                <div class="form-group col-md-6">
                    <label for="email2">Confirm Email</label>
                    {{ user_form.email2 }}
                    {#                    <input type="email" class="form-control" id="email2" placeholder="">#}
                </div>
            </div>
            <div class="form-row row4 px-3">
                <div class="form-group col-md-12">
                    <label for="inputPassword1">Password</label>
                    {{ user_form.password1 }}
                    {#                    <input type="password" class="form-control" id="inputPassword1" placeholder="">#}
                    {#                    <small id="emailHelp" class="form-text text-muted">Enter Password</small>#}
                </div>
            </div>
            <div class="form-row row5 px-3">
                <div class="form-group col-md-12">
                    <label for="inputPassword2">Confirm Password</label>
                    {{ user_form.password2 }}
                    {#                    <input type="password" class="form-control" id="inputPassword2" placeholder="">#}
                    {#                    <small id="emailHelp" class="form-text text-danger">Password Incorrect</small>#}
                </div>
            </div>
            {% if user_form.errors %}
                {% for field in user_form.errors %}
                    <small class="form-text text-danger"> {{ field.errors }} </small>
                {% endfor %}
            {% endif %}
            {% if profile_form.errors %}
                {% for field in profile_form %}
                    <small class="form-text text-danger"> {{ field.errors }} </small>
                {% endfor %}
            {% endif %}
            <div class="row mx-0 py-2 row6  d-flex px-3">
                <p class="body2 mb-0 pb-0 ">Click here to indicate that you have read and agree to the terms presented in the Terms and Conditions agreement.</p>
                <button id="readBtn" class="btn btn-sm mx-2 ml-auto">READ</button>
                <button id="agreeBtn" class="btn btn-sm">AGREE</button>
            </div>
            <div class="row d-flex justify-content-center mx-0 py-3">
                <button id="regFormBtn" type="submit" value="sign_up" class="btn btn-lg">REGISTER</button>
            </div>
        </form>
        {% endif %}
        {#        Login modal #}
        <div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-labelledby="registrationModal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title  w-100" id="myModalLabel">Login into your Nile Account</h5>
                        <button type="button" class="close closeModal" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if form.errors %}
                            <p>WRONG</p>
                        {% endif %}
                        {% if next %}
                            <p>You can't access that page</p>
                        {% endif %}
                        <form action="" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="exampleInputEmail1">Username</label>
                                <div class="input-group">
                                    {{ login_form.username }}
                                    {#                                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="" aria-describedby="inputGroupPrepend2">#}
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent" id="inputGroupPrepend2"><i class="material-icons">account_circle</i></span>
                                    </div>
                                </div>
                                <small id="emailHelp" class="form-text text-muted">Company name or registered email</small>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">Password</label>
                                <div class="input-group">
                                    {{ login_form.password }}
                                    {#                                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="" aria-describedby="inputGroupPrepend2" required>#}
                                    <div class="input-group-append">
                                        <span class="input-group-text bg-transparent" id="inputGroupPrepend2"><i class="material-icons">remove_red_eye</i></span>
                                    </div>
                                </div>
                                {#                            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
                            </div>
                        </form>
                    </div>
                    {#        for the footer I have overriden the default BS4 display for it which is flex to have my line of h6 before the buttons line#}
                    <div class="modal-footer justify-content-start d-block">
                        <div class="d-flex justify-content-start"><h6>Don't have an account?<a href="/registration"> Sign up today.</a></h6></div>
                        <div class="d-flex justify-content-end">
                            <button type="button" id="forgotPasswordModal" class="btn btn-block text-nowrap" data-dismiss="modal">FORGOT PASSWORD</button>
                            <button type="submit" id="signInModal" value="sign_in" class="btn ml-2">SIGN IN</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {#    End of Login Modal#}

    </main>
    <footer></footer>
    <script>
        {#This is just to override the normal header styling for the home page so that sign up button is disabled and background changes to white instead of creating a whole new template for that very minor change in styling#}
        $(".navbar").css('background','white');
        {#$("#signupBtn").prop('disabled', true);#}
        $('#signupBtn').hide();
        $(':input').addClass('form-control');
        $('.closeModal').removeClass('form-control');
        $('#regFormBtn').removeClass('form-control');
    </script>
{%  endblock %}
