{% extends "dashboard_base.html" %}
{% load static %}
{% load svg %}
{%  block content %}

    {% load_chart charttype1 chartdata1 chartcontainer1 extra1 %}
    {% load_chart charttype2 chartdata2 chartcontainer2 extra2 %}
    {% load_chart charttype3 chartdata3 chartcontainer3 extra3 %}
    {% load_chart charttype4 chartdata4 chartcontainer4 extra4 %}

    </head>
    <body>
    {% include "loggedinHeader.html" %}

<div class="row d-flex justify-content-between mt-3 align-items-end">
        <div class="col-auto ml-5 pl-5">
            <h1 class="font-weight-bold text-success">{{ company }}'s Annual Waste Dashboard</h1>
            <div class="d-flex">
                <h5 class="text-dark font-weight-light">As viewed on {% now "jS F Y H:i" %} by {{ user.username }}</h5>
                <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-secondary d-flex ml-auto"><i class="material-icons">arrow_back</i> Generic Dashboard</a>
            </div>
        </div>
        <div class="col-3 pr-5">
            <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                <label class="btn btn-light">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Carbon
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="options" id="option2" autocomplete="off"> Water
                </label>
                <label class="btn btn-light active">
                    <input type="radio" name="options" id="option3" autocomplete="off" checked> Waste
                </label>
            </div>
        </div>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">Your total Waste Production from 2013 until 2020 in the UK</h3>
                    {% include_container chartcontainer1 500 900 %}
                    <h6 class="mt-3 text-secondary text-center">Measured in Tonne/Year</h6>
                </div>
            </div>
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">Breakdown of 2020 produced Waste Types</h3>
                    {% include_container chartcontainer2 500 1000 %}
                    <h6 class="mt-3 text-secondary text-center">Total: {{ total_usage }} Tonnes of Waste</h6>
                </div>
            </div>
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">Your yearly waste production vs the industry average from 2013 until 2020</h3>
                    {% include_container chartcontainer3 500 900 %}
                    <h6 class="mt-3 text-secondary text-center">Measured in Tonne/Year</h6>
                </div>
            </div>
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">How much you have paid on Waste disposal over the years</h3>
                    {% include_container chartcontainer4 500 900 %}
                    <h6 class="mt-3 text-secondary text-center">2020 Total: £{{ cost }}K</h6>
                </div>
            </div>
        </div>
    </div>
<script>
        {#This is just to override the normal header styling for the home page so that sign up button is disabled and background changes to white instead of creating a whole new template for that very minor change in styling#}
        $(".navbar").css('background','white');
        $("body").css('color','black');
        $("#option1").click(function () {
            window.location.href = '/carbon_dashboard';
        });
        $("#option2").click(function () {
            window.location.href = '/water_dashboard';
        });
        $("#option3").click(function () {
            window.location.href = '/waste_dashboard';
        });
</script>
{% endblock %}