{% extends "dashboard_base.html" %}
{% load static %}
{% load svg %}
{%  block content %}
{% include "loggedinHeader.html" %}

<div class="row d-flex justify-content-between mt-3 align-items-end">
    <div class="col-auto ml-5 pl-5">
        <h1 class="font-weight-bold text-info">Tesco's Annual Waste Dashboard</h1>
        <h5 class="text-dark font-weight-light">As viewed on {% now "jS F Y H:i" %} by {{ user.username }}</h5>
    </div>
    <div class="col-3 pr-5">
        <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
            <label class="btn btn-info active">
                <input type="radio" name="options" id="option1" autocomplete="off"> Carbon
            </label>
            <label class="btn btn-info">
                <input type="radio" name="options" id="option2" autocomplete="off"> Water
            </label>
            <label class="btn btn-info">
                <input type="radio" name="options" id="option3" autocomplete="off" checked> Waste
            </label>
        </div>
    </div>
</div>
    <hr>
<script>
        {#This is just to override the normal header styling for the home page so that sign up button is disabled and background changes to white instead of creating a whole new template for that very minor change in styling#}
        $(".navbar").css('background','white');
        $("body").css('color','black');
        $("#option1").click(function () {
            window.location.href = '/carbon_dashboard';
        });
        $("#option2").click(function () {
            window.location.href = '/water_dashboard';
        });
        $("#option3").click(function () {
            window.location.href = '/waste_dashboard';
        });
</script>
{% endblock %}