{% extends "dashboard_base.html" %}
{% load static %}
{% load svg %}
{%  block content %}
    {# Load all created charts in the head tag then close it #}
    {% load_chart charttype1 chartdata1 chartcontainer1 extra1 %}
    {% load_chart charttype2 chartdata2 chartcontainer2 extra2 %}
    {% load_chart charttype3 chartdata3 chartcontainer3 extra3 %}

    </head>
    <body>
    {% include "loggedinHeader.html" %}

    {# Title, user data and dashboard buttons #}
    <div class="row d-flex justify-content-between mt-3 align-items-end">
        <div class="col-auto ml-5 pl-5">
            <h1 class="font-weight-bold text-primary">{{ company }}'s Annual Water Dashboard</h1>
            <div class="d-flex">
                <h5 class="text-dark font-weight-light">As viewed on {% now "jS F Y H:i" %} by {{ user.username }}</h5>
                <a href="{% url 'dashboard' %}" class="btn btn-sm btn-outline-secondary d-flex ml-auto"><i class="material-icons">arrow_back</i> Generic Dashboard</a>
            </div>
        </div>
        <div class="col-3 pr-5">
            <div class="btn-group btn-group-toggle d-flex" data-toggle="buttons">
                <label class="btn btn-light">
                    <input type="radio" name="options" id="option1" autocomplete="off"> Carbon
                </label>
                <label class="btn btn-light active">
                    <input type="radio" name="options" id="option2" autocomplete="off" checked> Water
                </label>
                <label class="btn btn-light">
                    <input type="radio" name="options" id="option3" autocomplete="off"> Waste
                </label>
            </div>
        </div>
    </div>
    <hr>
    {# Graphs Area #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">Your total Water consumption from 2013 until 2020 in the UK</h3>
                    {% include_container chartcontainer1 500 900 %}
                    <h6 class="mt-3 text-secondary text-center">Consumed Values in m3x10<sup>12</sup>/Year</h6>
                </div>
            </div>
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">Your yearly consumption vs industry average from 2015 until 2020 in the UK</h3>
                    {% include_container chartcontainer2 500 900 %}
                    <h6 class="mt-3 text-secondary text-center">Consumed Values in m3x10<sup>12</sup>/Year</h6>
                </div>
            </div>
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">How much you have paid on Water consumption over the years</h3>
                    {% include_container chartcontainer3 300 900 %}
                    <h6 class="mt-3 text-secondary text-center">2020 Total: £{{ cost }} K</h6>
                </div>
            </div>
            <div class="col-6 d-flex text-Left justify-content-center mb-4">
                <div>
                    <h3 class="my-4 border border-light">Recommended Water providers with lower rates per used m3:</h3>
                    <ul>
                        {% for key,val in suppliers_dict.items %}
                            <li><h4 class="text-primary">{{ key }}:</h4><p>£{{ val }}/m3</p></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {# End of Graphs Area #}
    <script>
        {# This is just to override the normal header styling for the home page so that sign up #}
        {# button is disabled and background changes to white instead of creating a whole new template for that very minor change in styling #}
        $(".navbar").css('background','white');
        $("body").css('color','black');
        {# The next 3 functions redirect the user to different dashboards when clicking anu of the toggle buttons #}
        $("#option1").click(function () {
            window.location.href = '/carbon_dashboard';
        });
        $("#option2").click(function () {
            window.location.href = '/water_dashboard';
        });
        $("#option3").click(function () {
            window.location.href = '/waste_dashboard';
        });
    </script>
{% endblock %}