body {
  font-family: "Hind Siliguri", sans-serif;
  color: #4DB6AC;
}

h1 {
  font-weight: 400;
}

h2 {
  font-weight: 300;
}

h3 {
  font-weight: 500;
}

h4 {
  font-weight: 400;
}

h5 {
  font-weight: 300;
}

h6 {
  font-weight: 500;
}

p {
  font-weight: 400;
}

p.body1 {
  font-weight: 300;
  font-size: 15px;
}

#loginBtn, #forgotPasswordModal {
  width: 418px;
  background: white;
  color: #00796B;
  border-color: #A9AFAD;
  border-width: thin;
}
#loginBtn:hover, #forgotPasswordModal:hover {
  background: #E0F2F1;
}

.startTrackingBtn, #viewDashboardBtn {
  background: #111614;
  color: white;
  width: 418px;
}
.startTrackingBtn:hover, #viewDashboardBtn:hover {
  color: #80CBC4;
}

#forgotPasswordModal {
  width: 185px;
}

#signupBtn, #signInModal {
  width: 96px;
  background: #00695C;
  color: #80CBC4;
}
#signupBtn:hover, #signInModal:hover {
  color: white;
}

#myModalLabel {
  color: #4E5452;
}

.modal-footer {
  background: #E0F2F1;
}
.modal-footer h6 {
  font-size: 14px;
  font-weight: normal;
  color: black;
}
.modal-footer h6 a {
  color: #00796B;
  text-decoration: underline;
}

.navbar-toggler .navbar-toggler-icon, .menuIcon {
  color: #80CBC4;
}
.navbar-toggler .navbar-toggler-icon i, .menuIcon i {
  font-size: 36px;
}
.navbar-toggler .navbar-toggler-icon i:hover, .menuIcon i:hover {
  color: #00796B;
}

.jumbotron1 {
  min-height: 45vh;
  background-color: transparent;
}
.jumbotron1 .jumbotron-text {
  width: 70%;
}

.homeIcons {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 300px;
}
.homeIcons .flex-item {
  padding: 5px;
  min-width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

.jumbotron2 {
  min-height: 45vh;
  background: #111614;
}
.jumbotron2 .jumbotron-text {
  color: #57EAD7;
  width: 568px;
}

.regmsg h4 {
  color: #4E5452;
  line-height: 1.5;
}

#registrationFormMain {
  background: white;
  width: 595px;
  border: 3px solid #00897B;
  padding-top: 20px;
  position: absolute;
  top: 250px;
  right: 400px;
}
#registrationFormMain .row6 {
  background: #E0F2F1;
  margin: 0 0 3px 3px;
}

.accountIcon, .menuIcon {
  font-size: 36px !important;
  color: #80CBC4;
}
.accountIcon:hover, .menuIcon:hover {
  color: #00796B;
}

.planTitle h5 {
  color: #898F8C;
}

#regFormBtn {
  background: #00796B;
  color: white;
}

#agreeBtn {
  color: #26A69A;
  border-color: #A9AFAD;
  width: 60px;
}

#readBtn {
  color: #898F8C;
  border-color: #A9AFAD;
  width: 60px;
}

label {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: #111614;
}

small {
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

input:hover {
  border-color: #80CBC4;
}

.card-header {
  background-color: white !important;
  border-top: none;
  border-left: none;
  border-right: none;
}

.card, .card-footer {
  border: 0px;
  background-color: white;
}

.cardExpandBtn, .sourceBtn {
  width: 100px;
  background: #E0F2F1;
  color: #00796B;
  border-color: #A9AFAD;
  border-width: thin;
}

.card-title {
  color: #898F8C;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.card-text {
  color: #313634;
}

.card-body {
  height: 260px;
  overflow-y: scroll;
}

html {
  height: 100vh;
}

body {
  height: 100%;
}

#indexMain {
  background: linear-gradient(160deg, #ffffff 50%, #E0F2F1 50%);
}

.productBriefText {
  line-height: 1.5;
}

/*# sourceMappingURL=main.css.map */
