@import "variables";

//Styles

body {
  font-family: $fontHind;
  color: $primary300;
}

h1 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
}
h2 {
  font-weight: 300;
}
h3 {
  font-weight: 500;
}
h4 {
  font-weight: 400;
}
h5 {
  font-weight: 300;
}
h6 {
  font-weight: 500;
}
p {
  font-weight: 400;
}
p.body1 {
  font-weight: 300;
  font-size: 15px;
}

//.navbar, .togglableLinks {
//  background: $primary50;
//}


#loginBtn, #forgotPasswordModal, #dashBtn {
  width: 418px;
  background: white;
  color: $primary700;
  border-color: $secondary400;
  border-width: thin;
  &:hover {
    background: $primary100;
}
}

.startTrackingBtn, #viewDashboardBtn {
  background: $secondary900;
  color: white;
  width: 418px;
  //height: 58px;
  &:hover {
    color: $primary200;
  }
}

//Also setting  the width for modal button to not wrap text
#forgotPasswordModal {
  width: 185px;
}

#signupBtn, #signInModal{
  width: 96px;
  background: $primary800;
  color: $primary200;
  &:hover {
    color: white;
  }
}


#myModalLabel {
  color: $secondary700;
}

.modal-footer {
  background: $primary100;

  h6 {
    font-size: 14px;
    font-weight: normal;
    color: black;

    a {
      color: $primary700;
      text-decoration: underline;
    }
  }
}

.navbar-toggler .navbar-toggler-icon, .menuIcon {
  color: $primary200;
   i{
     font-size: 36px;
     &:hover {
    color: $primary700;
  }
   }
}

.jumbotron1 {
  min-height: 45vh;
  background-color: transparent;
  .jumbotron-text {
    width: 70%;
  }
}

.homeIcons {
  /* We first create a flex layout context */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  min-height: 300px;
    .flex-item {
    padding: 5px;
    min-width: 200px;
    height: 150px;
    margin-top: 10px;
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
}


.jumbotron2 {
  min-height: 45vh;
  background: $secondary900;
  .jumbotron-text {
    color: $bright;
    width: 568px;
  }
}

.regmsg {
  h4 {
    color: $secondary700;
    line-height: 1.5;
  }
}

#registrationFormMain {
  background: white;
  width: 595px;
  border: 3px solid $primary600;
  padding-top: 20px;
  position: absolute;
  top: 250px;
  right: 400px;
  .row6 {
    background: $primary50;
    margin: 0 0 3px 3px;
  }
}

.accountIcon, .menuIcon {
  font-size: 36px !important;
  color: $primary200;
  &:hover {
    color: $primary700;
  }
}

.planTitle {
  h5 {
    color: $secondary500;
  }
}

#regFormBtn {
  background: $primary700;
  color: white;
  &:hover {
    color: $primary200;
  }
}

#agreeBtn{
  color: $primary400;
  border-color: $secondary400;
  width: 60px;
}

#agreeBtn.active{
  color: $primary200;
  background: $primary700;
}

#readBtn {
  color: $secondary500;
  border-color: $secondary400;
  width: 60px;
}

label {
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: $secondary900;
}

small {
  font-family: Roboto, sans-serif;
  font-size: 10px;
}

input {
  &:hover {
    border-color: $primary200;
  }
}

.card-header {
  background-color: white !important;
  border-top: none;
  border-left: none;
  border-right: none;
}

.card, .card-footer {
  border: 0px;
  background-color: white;
}

.cardExpandBtn, .sourceBtn {
  width: 100px;
  background: $primary50;
  color: $primary700;
  border-color: $secondary400;
  border-width: thin;
}

.card-title {
  color: $secondary500;
  font-family: Roboto, sans-serif;
  font-weight: 400;
}

.card-text {
  color: $secondary800;
}

.card-body {
  height: 260px;
  overflow-y: scroll;
}

html {
  height: 100vh;
}
body {
  height: 100%;
}
#indexMain {
  background: linear-gradient(160deg, #ffffff 50%, #E0F2F1 50%);
}
.productBriefText {
  line-height: 1.5;
}