//Most of the attributes used in this file are based upon the Sketch designs for the project and how they have called on Google Material toolkit used to design the UIs

//Backgrounds for components

$surface: #ECF2F2;
$light: #FFFFFF;
$dark: #B7C9C6;
$primary900: #004D40;
$primary800: #00695C;
$primary700: #00796B;
$primary600: #00897B;
$primary500: #009688;
$primary400: #26A69A;
$primary300: #4DB6AC;
$primary200: #80CBC4;
$primary100: #E0F2F1;
$primary50:  #E0F2F1;
$secondary900: #111614;
$secondary800: #313634;
$secondary700: #4E5452;
$secondary600: #616765;
$secondary500: #898F8C;
$secondary400: #A9AFAD;
$secondary300: #CED4D1;
$secondary200: #DFE6E3;
$secondary100: #EAF1EE;
$secondary50:  #F3F9F6;
$bright:  #57EAD7;

//Font Used

$fontHind: 'Hind Siliguri', sans-serif;

